@charset "UTF-8";
/*CHARTE DES COULEURS*/
/*FIN DE LA CHARTE DES COULEURS*/
/*INTÉGRATION DES FONTS*/
@font-face {
  font-family: "Goldman";
  src: url("../assets/fonts/woff2/GoldmanBold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goldman";
  src: url("../assets/fonts/woff2/GoldmanRegular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/woff2/MerriweatherSans.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/woff2/MerriweatherSansItalic.woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/woff2/Orbitron.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/woff2/SpaceGrotesk.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*FIN D'INTÉGRATION DES FONTS*/
html {
  font-family: "SpaceGrotesk", sans-serif;
  margin: 0 auto !important;
  width: 98vw;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Goldman", "Verdana";
}

ul {
  list-style: none;
}

li a, .link-like {
  display: block;
  font-size: clamp(13px, 1vw, 18px);
  letter-spacing: 0.8vw;
  color: #000000;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}
li a:hover, .link-like:hover {
  color: #2e9e28;
  transform: scale(1.2);
}

header {
  padding-top: var(--wp-admin--admin-bar--height, 0px);
  display: flex;
  flex-direction: column;
}
header .logo-menu {
  display: flex;
  flex-direction: row;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}
header .logo-menu .logo-link {
  padding: 5px 1vw 5px 4vw;
}
header .logo-menu .logo-link .logo {
  width: 50px;
  transition: transform 0.4s ease-in-out;
}
header .logo-menu .logo-link .logo:hover {
  transform: scale(1.5);
}
header .logo-menu .main-menu-place {
  width: 50%;
}
header .logo-menu .main-menu-place .primary-navigation {
  opacity: 1;
  visibility: visible;
}
header .logo-menu .main-menu-place .primary-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .logo-menu .main-menu-place .primary-navigation .icon-close {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
}
header .logo-menu .main-menu-place .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 30px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0s linear 0s;
}
header .logo-menu .main-menu-place .burger.undisplayed {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
header .logo-menu .main-menu-place .burger span {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0;
  background-color: #000000;
  border-radius: 5px;
}

.site-main {
  width: 80%;
  margin: auto;
  transform: translateY(0);
  transition: transform 1s ease;
}
.site-main.decaled {
  transform: translateY(-15vh);
}

.site-description .title-text {
  width: 100%;
  transform: translateY(0);
  transition: transform 1s ease;
}
.site-description .title-text.decaled {
  transform: translateY(30%);
}
.site-description .title-mirror {
  width: 100%;
  transform: translateY(0) rotateX(0deg);
  opacity: 0.4;
  filter: blur(3px);
  transition: opacity 1s ease, transform 1s ease-in;
}
.site-description .title-mirror.vanished {
  opacity: 0;
  transform: translateY(-100%) rotateX(180deg);
}

.cursor-dot {
  position: fixed;
  width: 12px;
  height: 12px;
  background-color: #bd312d;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: left 0.2s ease-out, top 0.2s ease-out;
}

footer {
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: center;
  margin: auto;
  height: 80px;
  border-top: 2px solid;
  border-color: rgba(186, 206, 186, 0.8549019608);
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
footer .footer-content .footer-copyright {
  display: flex;
}
footer .footer-content .footer-adress {
  display: flex;
}
footer .footer-content .footer-adress .phone-link {
  display: none;
}
footer .footer-content .footer-menu .footer-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/**********************************************/
/***************MEDIAS QUERIES*****************/
/**********************************************/
@media (max-width: 768px) {
  header .logo-menu .main-menu-place {
    width: 20%;
  }
  header .logo-menu .main-menu-place .burger {
    opacity: 1;
    visibility: visible;
  }
  header .logo-menu .main-menu-place .primary-navigation {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(0, 74, 228, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  header .logo-menu .main-menu-place .primary-navigation.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease, visibility 0s linear 0s;
    pointer-events: auto;
  }
  header .logo-menu .main-menu-place .primary-navigation ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    padding: 30vh 0;
  }
  header .logo-menu .main-menu-place .primary-navigation ul li a {
    font-size: 36px;
    font-weight: 900;
  }
  header .logo-menu .main-menu-place .primary-navigation .icon-close {
    display: block;
    transition: transform 0.5s ease;
  }
  header .logo-menu .main-menu-place .primary-navigation .icon-close:hover {
    transform: scale(1.5);
  }
  .site-main.decaled {
    transform: translateY(0);
  }
  footer .footer-content .footer-adress .phone-link {
    display: block;
  }
  footer .footer-content .footer-adress .mail-link {
    display: none;
  }
}
@media (max-width: 480px) {
  footer {
    height: auto;
    padding-top: 1vh;
  }
  footer .footer-content {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-content .footer-menu .footer-navigation ul {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main-style.css.map */