@charset "UTF-8";

/*CHARTE DES COULEURS*/
    $border: #bacebada;
    $background: #c6e2c6;
    $link: #000000;
    $link_hover: #2e9e28;
    $cursor_dot: #bd312d;
/*FIN DE LA CHARTE DES COULEURS*/

/*INTÉGRATION DES FONTS*/
    @font-face {
        font-family: 'Goldman';
        src: url('../assets/fonts/woff2/GoldmanBold.woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Goldman';
        src: url('../assets/fonts/woff2/GoldmanRegular.woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('../assets/fonts/woff2/MerriweatherSans.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('../assets/fonts/woff2/MerriweatherSansItalic.woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Orbitron';
        src: url('../assets/fonts/woff2/Orbitron.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'SpaceGrotesk';
        src: url('../assets/fonts/woff2/SpaceGrotesk.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
/*FIN D'INTÉGRATION DES FONTS*/

html {
    font-family: 'SpaceGrotesk', sans-serif;

    margin: 0 auto !important;
    width: 98vw;
}

body {
    margin: 0;
    margin-top: 20px;
    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Goldman', 'Verdana';
    }

ul {
    list-style: none;
}

li a, .link-like, .link-text {
    display: block;
    font-size: clamp(13px, 1vw, 18px);
    letter-spacing: 0.8vw;
    color: $link;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    &:hover {
        color: $link_hover;
        transform: scale(1.2);
    }
}

.link-text {
    display: inline;
    letter-spacing: normal;
    font-size:  clamp(16px, 1vw, 20px);
}

.modal-team-link {
    cursor: pointer;
}

hr {
    margin: 4vh auto;
    width: 20%;
}

header {
    padding-top: var(--wp-admin--admin-bar--height, 0px);//Pour éviter que l'adminBar cache le haut du header

    display: flex;
    flex-direction: column;
    .logo-menu {
        display: flex;
        flex-direction: row;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
        .logo-link {
            padding: 5px 1vw 5px 4vw;
            .logo {
                width: 50px;
                transition: transform 0.4s ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        .main-menu-place {
            width: 50%;
            .primary-navigation {
                position: fixed;
                z-index: 999;
                width: 48%;
                top: 6vh;
                padding: 1vh 0;
                border: 0px solid;
                border-radius: 35px;
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                opacity: 1;
                visibility: visible;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
                .icon-close {
                    display: none;
                    position: fixed;
                    top: 75px;
                    right: 55px;
                }
                
            } 
            .burger {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                width: 30px;
                height: 40px;
                padding: 0;
                background: transparent;
                border: none;
                cursor: pointer;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.6s ease, visibility 0s linear 0s;
                &.undisplayed {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
                span {
                    display: block;
                    width: 100%;
                    height: 3px;
                    margin: 0;
                    background-color: $link;
                    border-radius: 5px;
                }
            }
        }
    }
}

.site-main {
    width: 80%;
    margin: 0 auto 2em auto;
    transform: translateY(0);
    transition: transform 1s ease;
    &.decaled {
        transform: translateY(-10vh);
    }
    .manifesto-postscriptum {
        p {
            font-size: clamp(24px, 3vw, 36px);
            font-weight: bold; 
        }
    }
    .manifesto {
        display: flex;
        flex-direction: row;
        margin-bottom: 5em;
        .manifesto-title {
            display: flex;
            align-items:flex-start;
            min-width: 15vw;
            h2 {
                font-family: 'SpaceGrotesk';
                font-size: 1em;
                width: auto;
                margin: 1.3vh 0 0 0;
            }
        }
        .manifesto-concept {
            .manifesto-slogan, .manifesto-text {
                width: 70%;
                margin: 0 0 0 8vw;
                p {
                    font-size: clamp(36px, 5vw, 70px);
                    font-weight: bold;
                    margin: 0;
                }
            }
            .manifesto-text p {
               font-size: clamp(16px, 1vw, 20px);
               margin-top: 5vh;
            }
        }
    }
    .realized-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw 3vw;
        width: 100%;
        .projects-screens {
            display: inline-block;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
            .screen-image {
                display: block;
                width: 100%;
                aspect-ratio: 500 / 298;
                border: 1px solid $border;
                border-radius: 1vw;
            }
            .screen-project {
                position: absolute;
                left: 0.5vw;
                bottom: 0.5vw;
                display: flex;
                flex-direction: column;
                align-content:start;
                border: 0px;
                border-radius: 1vw;
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.7s ease-out, visibility 0s linear 0.7s;
                .title-project {
                    margin: 0.5vw;
                }
                .client-project {
                    margin: 0.5vw;
                }
                .desc-project {
                    margin: 0.5vw;
                }
            }
            &:hover {
                .screen-project {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.7s ease-in, visibility 0s linear 0s;
                }
            }
        }
    }
}

.site-description {
    .title-text {
        width: 100%;
        transform: translateY(0);
        transition: transform 1s ease;
        &.decaled {
            transform: translateY(30%);
        }
    }
    .title-mirror {
        width: 100%;
        transform: translateY(0) rotateX(0deg);
        opacity: 0.4;
        filter: blur(3px);
        transition: opacity 1s ease, transform 1s ease-in;
        &.vanished {
            opacity: 0;
            transform: translateY(-100%) rotateX(180deg);;
        }
    }
}

.modale-team {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    aspect-ratio: 12 / 8;
    max-height: 80%;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../assets/bg-multicolor-flou.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid $border;
    border-radius: 5vw;
    visibility:hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 0s linear 1s;
    &.displayed {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s ease-in-out, visibility 0s linear 0s;
    }

    .modale-team-image {
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
            height: auto;
            border-radius: 5vw;
        }
    }
    .modale-team-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 60%;
        p {
            font-size: clamp(12px, 1.2vw, 20px);
            margin: 0;
        }
    }
}

.cursor-dot {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: $cursor_dot;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition:
        left 0.2s ease-out,
        top 0.2s ease-out;
}

.entry-header {
    display: none;
}

.entry-content {
    .fluentform {
    width: 75%;
    margin: auto;
    font-family: 'SpaceGrotesk';
    }
}

button.ff-btn {
    background-color: $link_hover;
    font-family: 'SpaceGrotesk';
    font-size: 1.1em;
    color: white;
    letter-spacing: 0.2em;
    padding: 0.8em 1em;
    border-radius: 1vw;
    cursor: pointer;
}

.ff-message-success {
    text-align: center;
}

.contact-map {
    display: flex;
    justify-content: center;
    
}

.network-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 4vh 0;
    gap: 5vw;
    .social-link {
        opacity: 0;
        transition: opacity 2s ease-in-out;
        &:nth-child(1) {
            transition-delay: 1s;
        }
        &:nth-child(2) {
            transition-delay: 1.3s;
        }
        &:nth-child(3) {
            transition-delay: 1.6s;
        }
        &:nth-child(4) {
            transition-delay: 1.9s;
        }
        .icon-network {
            width: clamp(30px, 3vw, 52px);
            opacity: 0.7;
            transform: scale(1);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }
        &:hover {
            .icon-network {
                opacity: 1;
                transform: scale(1.3);
            }
        }
    }
    &.display_networks {
        .social-link {
            opacity: 1;
        }
    }
}

footer {
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 80px;
    border-top: 2px solid;
    border-color: $border;
    .footer-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        .footer-copyright {
        display: flex;
        }
        .footer-adress {
            display: flex;
            .phone-link {
                display: none;
            }
        }
        .footer-menu {
            .footer-navigation ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

/**********************************************/
/***************MEDIAS QUERIES*****************/
/**********************************************/

// Tablette
@media (max-width: 1024px) {
    
}

// Mobile
@media (max-width: 768px) {
    header {
        .logo-menu {
            .main-menu-place {
                width: 20%;
                .burger {
                    opacity: 1;
                    visibility: visible;
                }
                .primary-navigation {
                    position: fixed;
                    z-index: 999;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    background-color: rgba(0, 74, 228, 0.25);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity 0.6s ease, visibility 0s linear 0s;//ok ouverture
                        pointer-events: auto;
                    }
                    ul {
                        flex-direction: column;
                        align-items: center;
                        justify-content:flex-start;
                        gap: 80px;
                        padding: 30vh 0;
                        li a {
                            font-size: 36px;
                            font-weight: 900;
                        }
                    }
                    .icon-close {
                        display: block;
                        transition: transform 0.5s ease;
                        &:hover {
                            transform: scale(1.5);
                        }
                    }  
                }
            }
        }
    }

    .modale-team {
        flex-direction: column;
        height: 80vh;
        justify-items: center;
        .modale-team-image {
            width: 50%;
            margin: 4vh 0;
        }
        .modale-team-text {
            width: 90%;
            justify-content: flex-start;
        }
    }

    .site-main {
        &.decaled {
            transform: translateY(0);
        }
        .manifesto {
            .manifesto-concept {
                .manifesto-slogan, .manifesto-text {
                    width: 90%;
                }
            }
        }
        .realized-projects {
        display: flex;
        flex-direction: column;
        }
    }

    footer {
        .footer-content {
            .footer-adress {
                .phone-link {
                    display: block;
                }
                .mail-link {
                    display: none;
                }
            }
        }
    }
}

// Petit mobile
@media (max-width: 480px) {
    footer {
        height: auto;
        padding-top: 1vh;
        .footer-content {
            flex-direction: column;
            align-items: center;
            .footer-menu {
                .footer-navigation ul {
                    padding: 0;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}