@charset "UTF-8";

/*CHARTE DES COULEURS*/
    $border: #aabdaa;
    $link: #000000;
    $link_hover: #2e9e28;
/*FIN DE LA CHARTE DES COULEURS*/

/*INTÉGRATION DES FONTS*/

    @font-face {
        font-family: 'Goldman';
        src: url('../assets/fonts/woff2/GoldmanBold.woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Goldman';
        src: url('../assets/fonts/woff2/GoldmanRegular.woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('../assets/fonts/woff2/MerriweatherSans.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Merriweather';
        src: url('../assets/fonts/woff2/MerriweatherSansItalic.woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Orbitron';
        src: url('../assets/fonts/woff2/Orbitron.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'SpaceGrotesk';
        src: url('../assets/fonts/woff2/SpaceGrotesk.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

/*FIN D'INTÉGRATION DES FONTS*/
html {
    font-family: 'SpaceGrotesk', sans-serif;

    margin: 0 auto !important;
    width: 98vw;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Goldman', 'Verdana';
    }

ul {
    list-style: none;
}

li a {
    display: block;
    font-size: clamp(14px, 1vw, 20px);
    letter-spacing: 0.8vw;
    color: $link;
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    &:hover {
        color: $link_hover;
        transform: scale(1.5);
    }
}

header {
    display: flex;
    flex-direction: column;
    .logo-menu {
        display: flex;
        flex-direction: row;
        min-height: 80px;
        justify-content: space-between;
        align-items: center;
        .logo-link {
            padding: 5px 1vw 5px 4vw;
            .logo {
                width: 50px;
                transition: transform 0.4s ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        .main-menu-place {
            width: 50%;
            .primary-navigation ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
    
}


.site-description {
    .title-text {
        width: 100%;
    }
}

footer {
    position: relative;
    bottom: 0px;
    margin: auto;
    height: 80px;
    border-top: 2px solid;
    border-color: $border;
    .footer-content {
        display: flex;
        flex-direction: row;
        .footer-copyright {
        display: flex;
        width: 20%;
        }
    }
    
}